.header-bg {
  background-color: #141414;
}

.header {
  color: #fff;
  max-width: 1200px;
  padding: 28px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header p {
  color: rgba(255, 255, 255, 0.747);
  font-weight: bold;
  font-size: 2.3rem;
}

.header img {
  width: 48px;
  height: 48px;
}


.header-menu a {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.3;
  padding: 20px 0;
  display: block;
  transition: .3s;
  position: relative;
}

.header-menu a:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: #fff;
  margin-top: 1px;
  transition: .3s;
  position: absolute;
}

.header-menu a:hover::after
/* .header-menu a.ativo::after */ {
  width: 100%;
}

.icons {
  display: flex;
  gap: 20px; 
}

.icons a {
  transition: .3s;
}

.icons a:hover {
  transform: translateY(-6px)
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

@media (max-width: 800px) {
  .icons {
    display: none;
  }
  .header-menu a {
    font-size: 1rem;
    background-color: #202020;
    border-radius: 5px;
    padding: 12px;
  }
  .header-menu a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 20px 0;
    flex-direction: column;
  }
  .header p {
    padding-bottom: 10px;
  }
}